<h1>Announcements</h1>

<%= link_to 'New Announcement', new_announcement_path, :class => "ui primary button" %>

<div class="ui segments">
  <div class="ui segment">
    <div class="ui divided items">
      <% @announcements.each do |announcement| %>
        <div class="item">
          <div class="content">
            <h1 class= "ui medium header"><%= announcement.title %></h1>
            <div class="description"><p><%= announcement.body %></p></div>
            <div class="extra">
              <%= link_to 'DELETE', announcement, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui right floated primary button" %>
              <%= link_to 'EDIT', edit_announcement_path(announcement), :class => "ui right floated primary button" %>
              <%= link_to 'SHOW', announcement, :class => "ui right floated primary button" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
