<h1>Edit Profile</h1>

<%= form_for @user, html: { multipart: true, class: "ui form" } do |f| %>
  <%= devise_error_messages! %>
  <div class="ui padded segment">
    <div class="field">
      <label>First name</label>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <label>Last name</label>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <label>Department/Institute</label>
      <%= f.text_field :department %>
    </div>
    <div class="field">
      <label>Rank</label>
      <%= f.text_field :rank %>
    </div>
    <div class="field">
      <label>Contact number</label>
      <%= f.text_field :contact_number %>
    </div>
    <div class="field">
      <label>Email</label>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <label>Password</label>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <label>Password confirmation</label>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <label>Current password</label><i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password %>
    </div>
  </div>
  <%= f.submit "Save", :class => "ui primary button" %>
<% end %>
