<h1>Forgot your password?</h1>

<form class="ui form">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="ui padded segment">
    <div class="field">
      <label>Email</label>
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
  <%= f.submit "Send me reset password instructions", :class => "ui primary button" %>
<% end %>
</form>

<%= render "devise/shared/links" %>
