<nav class = "navbar navbar-default navbar-fixed-top">
  <a class = "navbar-brand"><%= link_to image_tag("fria-logo.png", :width => 180), home_page_path %></a>
  <div class = "welcome">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
  </div>
  <% if user_signed_in? %>
    <div class = "welcome-main">
    Hello, <%= "#{current_user.first_name} #{current_user.last_name}"%>.
    <% if current_user.curr_type %>
      Signed in as <%= current_user.curr_type == 'CommitteeMember' ? 'Committee Member' : current_user.curr_type == 'CommitteeHead'? 'Committee Head' : current_user.curr_type %>.
    <% end %>
    </div>
    <div class="menu">
      <%= link_to "HOME", home_page_path %>
      <% if can? :index, Proposal %>
        | <%= link_to "PROPOSALS", proposals_page_path %>
      <% end %>
      <% if can? :index, User %>
        | <%= link_to "ACCOUNTS", assign_account_path %>
      <% end %>
      <% if can? :manage, Announcement %>
        | <%= link_to "ANNOUNCEMENTS", announcements_path %>
      <% end %>
      | <%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %>
    </div>
  <% else %>
    <div class = "welcome-main">
    <a><%= link_to "Log in", new_user_session_path %></a>
    </div>
  <% end %>
</nav>
