<h1>Proposals</h1>

<% if can? :create, Proposal %>
    <%= link_to "New Proposal", new_proposal_path, :class => "ui primary button" %>
<% end %>

<div class="ui segments">
  <div class="ui segment">
    <div class="ui divided items">
      <% @proposals.each do |proposal| %>
        <div class="item">
          <div class="content">
            <% if can? :read, proposal %>
          	  <%= link_to proposal.title, proposal_url(proposal.id), :class => "header" %>
          	<% else %>
          		<h1 class="ui medium header"><%= proposal.title %></hi>
          	<% end %>
            <div class="extra">
              <div class="ui label">
                <%= proposal.status_string %>
              </div>
              <% if can? :destroy, proposal %>
                <%= link_to "Delete", proposal, method: :delete, data: { confirm: 'Deleting Proposal: Are you sure?'}, :class => "ui right floated primary button" %>
              <% end %>
              <% if can? :withdraw, proposal %>
                <% if !proposal.is_withdrawn and !proposal.is_decided %>
                  <%= link_to "Withdraw", withdraw_proposal_path(proposal.id), data: { confirm: 'Withdrawing Proposal: Are you sure?'}, :class => "ui right floated primary button" %>
                <%# else %>
                  <%#= link_to "Submit", submit_proposal_path(proposal.id), :class => "ui right floated primary button" %>
                <% end %>
              <% end %>
              <% if can? :update, proposal %>
                <%= link_to "Update", edit_proposal_path(proposal.id), :class => "ui right floated primary button" %>
            	<% end %>
              <% if can? :review, proposal %>
                <%= link_to "See reviews", reviews_page_path(proposal.id), :class => "ui right floated primary button" %>
              <% end %>
              <% if can? :assign, proposal %>
                <% if proposal.is_assigned_reviewers %>
                  <div class="ui label">Assigned</div>
                <% else %>
                  <div class="ui label">Not Yet Assigned</div>
                <% end %>
                <% if proposal.is_assigned_reviewers %>
                  <%= link_to "Reassign", assign_proposal_path(proposal.id), :class => "ui right floated primary button" %>
                <% else %>
                  <%= link_to "Assign", assign_proposal_path(proposal.id), :class => "ui right floated primary button" %>
                <% end %>
              <% end %>
              <% if can? :review, proposal %>
                <% if proposal.submission_period.is_set == false and !proposal.is_withdrawn%>
                  <% if can? :update, proposal.submission_period %>
                    <%= link_to "Set proposal timeline", edit_submission_period_path(proposal.id), :class => "ui right floated primary button" %>
                  <% end %>
                <% else %>
                  <% if can? :update, proposal.submission_period and !proposal.is_withdrawn%>
                    <%= link_to "Update proposal timeline", edit_submission_period_path(proposal.id), :class => "ui right floated primary button" %>
                  <% end %>
                  <% if current_user.curr_type == 'CommitteeMember' %>
                    <% if !Review.find_by('committee_member_id = ? AND proposal_id = ?', current_user.committee_member.id, proposal.id).is_decided %>
                      <div class="ui label">Not yet voted</div>
                    <% else %>
                      <div class="ui label">Voted</div>
                    <% end %>
                  <% elsif current_user.curr_type == 'CommitteeHead' %>
                    <% if !Review.find_by('committee_head_id = ? AND proposal_id = ?', current_user.committee_head.id, proposal.id).is_decided %>
                      <div class="ui label">Not yet voted</div>
                    <% else %>
                      <div class="ui label">Voted</div>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
