<h1>New Proposal</h1>
<div class="well">
  <%= form_for @proposal, html: { multipart: true } do |f| %>
    *<%= f.label :Title %><br>
    <%= f.text_field :title , autofocus: true, required: true%>
    <br><br>*<%= f.label :Objectives %><br>
    <%= f.text_area :objectives, required: true %>
    <br><br>*<%= f.label :Description %><br>
    <%= f.text_area :descriptions, required: true %>
    <br><br><%= f.label :Coresearchers %><br>
    <%= f.text_field :coresearchers%>
    <br><br>*<%= f.label 'File' %><br>
    <%= f.file_field :avatar, accept: '.pdf', required: true%>
    <%= f.submit "Save", :class => "ui primary button" %>
  <% end %>
</div>
