<h1>Proposal Details</h1>
<table class="ui celled padded table">
	<tbody>
		<tr><th>Title</th><td><%= @proposal.title %></td></tr>
		<tr><th>Researcher</th><td><%= User.find(id = @proposal.researcher.user_id).full_name %></td></tr>
		<tr><th>Objectives</th><td><%= @proposal.objectives %></td></tr>
		<tr><th>Description</th><td><%= @proposal.descriptions %></td></tr>
		<tr><th>Status</th><td>
			<% if @proposal.is_decided %>
				<% if @proposal.status == 2 %>
					Accepted
				<% end %>
				<% if @proposal.status == 3 %>
					Rejected
				<% end %>
				<% if @proposal.status == 0 %>
					For Resubmission
				<% end %>
			<% else %>
				To Be Evaluated
			<% end %>
		</td></tr>
	</tbody>
</table>
<br>
<% if can? :read, @proposal %>
	<td>
		<% if @proposal.avatar_url %>
			<%= link_to "Download proposal", @proposal.avatar_url, :class => "ui primary button" %>
		<% end %>
	</td>
<% end %>
<% if can? :update, @proposal %>
<% if (@proposal.submission_period.is_active_votation == false) %>
	<%= link_to 'Edit', edit_proposal_path(@proposal), :class => "ui primary button" %>
<% end %>
<% end %>
<% if can? :review, @proposal %>
	<%= link_to "See Reviews", reviews_page_path(@proposal.id), :class => "ui primary button"%>
<% end %>
<%= link_to 'Back', proposals_path, :class => "ui primary button" %>


