<% if can? :veto, @proposal %>
  <h1> Vetoing: <%= @proposal.title %> </h1>
  <%= form_for vetoed_path, :html => {:class => "ui form"}, :remote => "true", :method => :post do |f| %>
    <div class="ui padded segment">
      <% if @headreview.vote != 2 %>
      	<%= f.radio_button :vote,'2'%>
      	<%= f.label :vote, 'Accept'%>
      	<br>
      <%end%>
      <% if @headreview.vote != 3 %>
  	    <%= f.radio_button :vote,'3'%>
  	    <%= f.label :vote, 'Reject'%>
  	    <br>
      <%end%>
      <% if @headreview.vote != 0 %>
  	    <%= f.radio_button :vote,'0'%>
  	    <%= f.label :vote, 'Resubmit'%>
      <%end%>
    </div>
    <br>
    <%= f.submit "Save", :class => "ui primary button" %>
  <% end %>
<% end %>

<div class="ui modal" style="height: 200px;margin: auto;">
  <div class="header">Proposal Status Confirmed</div>
  <div class="content">
    <p> Committee decision vetoed:
      <%= @proposal.status_string %>
    </p>
  </div>
  <div class="actions">
    <%= link_to "OK", reviews_page_path, :class => "ui button" %>
  </div>
</div>
