<h1>Review Proposal</h1>
<table class="ui celled padded table">
	<tbody>
		<tr><th>Title</th><td><%= @proposal.title %></td></tr>
		<tr><th>Researcher</th><td><%= User.find(id = @proposal.researcher.user_id).full_name %></td></tr>
		<tr><th>Co-researchers</th><td><%= @proposal.coresearchers %></td></tr>
		<tr><th>Objectives</th><td><%= @proposal.objectives %></td></tr>
		<tr><th>Description</th><td><%= @proposal.descriptions %></td></tr>
		<tr><th>Status</th><td>
			<% if @proposal.is_decided %>
				<% if @proposal.status == 1 %>
					Accepted
				<% end %>
				<% if @proposal.status == -1 %>
					Rejected
				<% end %>
				<% if @proposal.status == 0 %>
					For Resubmission
				<% end %>
			<% else %>
				To Be Evaluated
			<% end %>
		</td></tr>
	</tbody>
</table>
<br>
<% if can? :update, @my_review %>
    <% if @canvote %>
        <% if @my_review.is_decided %>
            <%= link_to "Update my review", edit_review_path(:reviewid=>@my_review.id, :proposalid=>@proposal.id), :class => "ui primary button" %>
        <% else %>
            <%= link_to "Review", edit_review_path(:reviewid=>@my_review.id, :proposalid=>@proposal.id), :class => "ui primary button" %>
        <% end %>
    <% else %> Voting is closed
    <% end %>
<% end %>
<table class = "table">
<thead><h2>Reviews</h2></thead>
<%#= link_to "New review", new_review_path(:id=>@proposal.id), :class => "ui primary button" %>
<% @count = 0 %>
<% @reviews.each do |review| %>
      <tr>
        <td>
            <% if review.is_decided %>
                <% if review.vote == 1 %>
                    Accept
                <% elsif review.vote == -1 %>
                    Reject
                <% elsif review.vote == 0 %>
                    Resubmit
                <% end %>
            <% end %>
        </td>
        <td>
            <% if !review.is_decided %>
                Not yet voted
            <% else %>
                Voted
            <% end %>
        </td>
        <td>
        	<% if !review.committee_member_id.nil? %>
        		<%= User.find(id = review.committee_member.user_id).full_name %>
        	<% else %>
        		<%= User.find(id = review.committee_head.user_id).full_name %>
        	<% end %>
        </td>
      </tr>
    <% @count = @count + 1 %>
<% end %>
</table>
<% if can? :comment, @proposal %>
    <h2>Comments</h2>
    <% @proposal.comments.each do |comment| %>
        <% if comment.dean_id.nil? and comment.committee_member_id.nil? %>
            <% @head = CommitteeHead.find(comment.committee_head_id) %>
            <% @user =  User.find(@head.user_id) %>
            <b>
                <%= @user.full_name %>
            </b>
        <% elsif comment.committee_head_id.nil? and comment.committee_member_id.nil? %>
            <% @head = Dean.find(comment.dean_id) %>
            <% @user =  User.find(@head.user_id) %>
            <b>
                <%= @user.full_name %>
            </b>
        <% else %>
            <% @head = CommitteeMember.find(comment.committee_member_id) %>
            <% @user =  User.find(@head.user_id) %>
            <b>
                <%= @user.full_name %>
            </b>
        <%end%>
        :
        <%= comment.comment %>
        <br>
    <% end %>
<% end %>

<% if can? :comment, @proposal %>
    <h2> Add new comment </h2>
    <%= form_for add_comment_path, :method => :post do |f| %>
        <div class="field">
            <div class="ui icon input">
                <input type="text" name="content" placeholder="Comment">
            </div>
        </div>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
    <% end %>
<% end %>

<br>
<% if can? :veto, @proposal %>
<% if @count == 3 and @proposal.submission_period.is_active_votation %>
    <%= link_to "Uphold", uphold_path(@proposal.id), :class => "ui primary button", :method => :post %>
    <%= link_to "Veto", veto_path(@proposal.id), :class => "ui primary button" %>
<% end %>
<% end %>
<%= link_to 'Back', proposals_path, :class => "ui primary button" %>
