<h1> Review for <%= @proposal.title %> </h1>
<%= form_for @review do |f| %>
  <div class="well">
    <br><br>
    <%= f.radio_button :vote,'1'%>
    <%= f.label :vote, 'Accept'%>
    <br>
    <%= f.radio_button :vote,'-1'%>
    <%= f.label :vote, 'Reject'%>
    <br>
    <%= f.radio_button :vote,'0'%>
    <%= f.label :vote, 'Resubmit'%>
  </div>
  <br>
  <%= f.submit "Save", :class => "btn btn-primary" %>
<% end %>
