<!DOCTYPE html>
<html>
  <head>
    <title>UP FRIA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class = "container">
      <%= render 'shared/nav'%>
      <div class = "container" style =  "margin-top:96px">
        <%= yield %>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render 'shared/footer'%>
    </div>
  </body>
</html>
